<div class="row bread-cr">
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
        </nav>
    </div>
</div>

<section class="container content">
    <div class="row" id="books"></div>
</section>

<script id="templateCards" type="text/ractive">

    {{#each items}}

    <div class="card col-md-4">
        <a class="btn btn-sm btn-outline-secondary" href="#/detail/{{id}}">
            <img class="card-img-top" src="{{volumeInfo.imageLinks.smallThumbnail}}" style="width:200px" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{volumeInfo.title}}</h5>
                <p class="card-text">{{volumeInfo.publisher}} - {{volumeInfo.publisherDate}}</p>
            </div>
        </a>
    </div>

    {{/each}}

</script>